# Python
venv/
__pycache__/
*.pyc

# Environment
.env

# Git
.git/

# Docker runtime data
mongodb-data/
qdrant_storage/

# IDE
.vscode/
checkpoints/
# Logs
*.log
/.venv
/__pycache__
/checkpoints.db-shm
/checkpoints.db-wal
